<div class="text-field">
  <%= form.label :start_date %>
  <%= form.text_field :start_date, type: 'date' %>
</div>

<div class="text-field">
  <%= form.label :end_date %>
  <%= form.text_field :end_date, type: 'date' %>
</div>
